<template>
    <main
        v-if="config"
        class="flex justify-between flex-col h-screen overflow-hidden"
    >
        <div
            class="relative flex justify-between items-center flex-row w-full h-24"
            :style="`background-color: ${config.themeColor};`"
        >
            <div class="relative p-4 h-full">
                <img class="h-full" :src="require(`~/logos/${config.themeLogo}`)" />
            </div>
            <div
                class="text-white font-medium hover:underline cursor-pointer active:bg-gray-300 mr-auto"
                @click="resetTemplate"
            >
                <template v-if="activeTemplate">
                    Standaard waardes terugzetten
                </template>
            </div>
            <div class="relative p-4 h-full">
                <div
                    v-for="(template, index) in configCopy.templates"
                    :key="index"
                    class="h-full px-6 flex items-center justify-center hover:bg-gray-200 cursor-pointer active:bg-gray-400 text-2xl font-semibold transition-color duration-200 float-left"
                    :class="[
                        {
                            'border-l border-gray-300':
                                index !== configCopy.templates.lenght - 1,
                        },
                        activeTemplate && template === activeTemplate
                            ? 'bg-gray-200 active:bg-gray-400'
                            : 'bg-white',
                    ]"
                    @click="selectTemplate(template)"
                >
                    {{ template.name || "????" }}
                </div>
            </div>
            <div class="relative p-4 h-full">
                <div
                    class="flex items-center justify-center bg-white shadow-xs p-4 px-6 text-4xl font-bold h-full rounded-sm"
                >
                    {{ currentTimeFormatted }}
                </div>
            </div>
        </div>
        <div v-if="activeTemplate" class="flex-1 flex flex-col">
            <div
                class="relative w-full flex justify-between flex-row h-10 border-b border-gray-400"
            >
                <div
                    v-for="index in 3"
                    :key="index"
                    class="flex w-1/3"
                >
                    <div
                        class="flex-1 text-center flex items-center justify-center bg-gray-200 border-r border-gray-400 font-bold text-sm"
                    >
                        PARTIJ
                    </div>
                    <div
                        class="flex-1 text-center flex items-center justify-center bg-gray-200 border-r border-gray-400 font-bold text-sm"
                    >
                        TIJD
                    </div>
                    <div
                        class="flex-1 text-center flex items-center justify-center bg-gray-200 border-r border-gray-400 font-bold text-sm"
                    >
                        ACTIE
                    </div>
                </div>
            </div>
            <div class="flex-1 grid grid-cols-3 grid-rows-6 grid-flow-col">
                <div
                    v-for="(item, index) in activeTemplate.items"
                    :key="index"
                    class="relative w-full h-full"
                    :class="{ 'opacity-25 cursor-not-allowed': !item.active }"
                >
                    <div
                        class="relative grid grid-cols-3 h-full w-full border-b border-gray-400"
                        :class="{ 'pointer-events-none': !item.active }"
                    >
                        <div class="relative w-full h-full border-gray-400 border-r p-6">
                            <div
                                class="w-full h-full bg-center bg-contain bg-no-repeat"
                                :style="`background-image: url( ${require(`~/logos/${
                                    item.logo || config.themeLogo
                                }`)} )`"
                            ></div>
                        </div>
                        <div
                            class="relative flex justify-between flex-col w-full h-full border-gray-400 border-r bg-gray-200"
                        >
                            <div
                                class="flex-1 flex justify-center items-center w-full text-3xl font-medium"
                            >
                                {{ formatSeconds(item.seconds) }}
                            </div>
                            <div class="w-full p-2 bg-gray-300">
                                <div class="font-medium text-xs mb-1">
                                    SECONDES
                                </div>
                                <input
                                    :value="item.seconds"
                                    type="number"
                                    max="356400"
                                    name="seconds"
                                    class="w-full p-1 text-sm font-semibold"
                                    @input="
                                        (event) =>
                                            updateItem(item, { seconds: Number(event.target.value) })
                                    "
                                />
                            </div>
                        </div>
                        <div
                            class="relative w-full h-full border-gray-400 border-r bg-gray-200 p-4"
                        >
                            <button
                                v-if="!item.running"
                                class="text-xl text-white font-medium h-full w-full bg-green-600 border-b-4 hover:border-b-2 active:border-b-0 border-green-800 hover:bg-green-700 active:bg-green-900 rounded-sm transition-all duration-200"
                                @click="updateItem(item, { running: true }, { running: false })"
                            >
                                START
                            </button>
                            <button
                                v-else
                                class="text-xl text-white font-medium h-full w-full bg-red-600 border-b-4 hover:border-b-2 active:border-b-0 border-red-800 hover:bg-red-700 active:bg-red-900 rounded-sm transition-all duration-200"
                                @click="
                                    updateItem(null, { running: false }, { running: false })
                                "
                            >
                                STOP
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-else
            class="flex-1 flex items-center justify-center font-medium text-3xl"
        >
            Geen sjabloon geselecteerd
        </div>
    </main>
    <main
        v-else
        class="w-full h-screen flex items-center justify-center text-center text-2xl font-semibold"
    >
        Configuratie is niet gevonden
    </main>
</template>

<script>
import DayJS from 'dayjs'
import { io as IO } from 'socket.io-client'

export default {
    data ()
    {
        return {
            configCopy: null,
            currentTime: new Date()
        }
    },

    fetch ()
    {
        this.configCopy = JSON.parse( JSON.stringify( this.config ) )
    },

    computed: {
        config ()
        {
            const { name: configName } = this.$store.getters['configs/configs'].find(
                ({ name }) => name === this.$route.params.config
            )
            return require( `~/configs/${configName}.json` )
        },
        currentTimeFormatted ()
        {
            return DayJS( this.currentTime ).format( 'HH:mm:ss' )
        },

        activeTemplate ()
        {
            return this.configCopy?.templates?.find( ({ active }) => active )
        }
    },
    beforeMount ()
    {
        this.io = IO( 'http://localhost:3000' )
        setInterval( this.updateClock, 1000 )
        setInterval( this.tick, 1000 )
    },
    destroyed ()
    {
        this.io.close()
        clearInterval( this.updateClock )
        clearInterval( this.tick )
    },
    methods: {
        updateClock ()
        {
            this.currentTime = new Date()
        },
        tick ()
        {
            // Update item times and push to socket
            const newConfigCopy = { ...this.configCopy }
            const templateIndex = this.configCopy.templates.indexOf( this.activeTemplate )

            if ( templateIndex === -1 ) return

            newConfigCopy.templates[templateIndex]?.items?.forEach( ( item ) =>
            {
                if ( item.running ) item.seconds--
            })

            // Trigger UI update
            this.configCopy = newConfigCopy
            if ( newConfigCopy.templates[templateIndex].items.some( ({ running }) => running ) ) this.io.emit( 'update-config', newConfigCopy )
        },
        selectTemplate ( selectedTemplate )
        {
            this.updateItem( null, null, { running: false })

            // Set current template active or not, depending on previous state
            selectedTemplate.active = !selectedTemplate.active
            this.configCopy?.templates?.forEach( ( template ) =>
            {
                // Set template.active false if not selectedTemplate
                if ( template !== selectedTemplate ) template.active = false
            })

            // Trigger UI update
            this.configCopy = { ...this.configCopy }
            this.io.emit( 'update-config', this.configCopy )
        },
        updateItem ( itemToChange, itemToChangeChanges, otherItemsChanges )
        {
            const newConfigCopy = { ...this.configCopy }
            const templateIndex = this.configCopy.templates.indexOf( this.activeTemplate )

            if ( templateIndex === -1 ) return

            newConfigCopy.templates[templateIndex].items = newConfigCopy.templates[templateIndex].items.map( ( item ) =>
            {
                if ( item === itemToChange ) return { ...item, ...itemToChangeChanges }
                if ( otherItemsChanges ) return { ...item, ...otherItemsChanges }
                return item
            })

            // Trigger UI update
            this.configCopy = newConfigCopy
            this.io.emit( 'update-config', newConfigCopy )
        },

        resetTemplate ()
        {
            // Dirty clone because spread does not work
            const cloneOfOriginalConfig = JSON.parse( JSON.stringify( this.config ) )
            const templateIndex = this.configCopy.templates.indexOf( this.activeTemplate )

            cloneOfOriginalConfig.templates[templateIndex].active = true

            this.configCopy = cloneOfOriginalConfig
            this.io.emit( 'update-config', cloneOfOriginalConfig )
        },

        formatSeconds ( totalSeconds )
        {
            const isMinus = totalSeconds < 0
            totalSeconds = Math.abs( totalSeconds )
            const hours = Math.floor( totalSeconds / 3600 )
            totalSeconds %= 3600
            const minutes = Math.floor( totalSeconds / 60 )
            const seconds = totalSeconds % 60

            return `${isMinus ? '-' : ''}${hours
                .toString()
                .padStart( 2, '0' )}:${minutes
                .toString()
                .padStart( 2, '0' )}:${seconds.toString().padStart( 2, '0' )}`
        }
    }
}
</script>
