<template>
    <main
        v-if="config"
        class="flex justify-between flex-col h-screen overflow-hidden"
    >
        <div
            class="relative flex justify-between items-center flex-row w-full h-24"
            :style="`background-color: ${config.themeColor};`"
        >
            <div class="relative p-4 h-full mr-auto">
                <img class="h-full" :src="require(`~/logos/${config.themeLogo}`)" />
            </div>
            <div class="relative p-4 h-full">
                <div
                    v-if="!connected"
                    class="h-full px-6 flex items-center justify-center bg-white shadow-xs hover:bg-gray-200 cursor-pointer active:bg-gray-400 text-2xl font-bold transition-color duration-200 float-left mr-2"
                >
                    GEEN VERBINDING!
                </div>
                <div
                    class="h-full px-6 flex items-center justify-center bg-white shadow-xs hover:bg-gray-200 cursor-pointer active:bg-gray-400 text-2xl font-bold transition-color duration-200 float-left"
                >
                    {{ activeTemplate ? activeTemplate.name : "GEMEENTERAAD UTRECHT" }}
                </div>
            </div>
            <div class="relative p-4 h-full">
                <div
                    class="flex items-center justify-center bg-white shadow-xs p-4 px-6 text-4xl font-bold h-full rounded-sm"
                >
                    {{ currentTimeFormatted }}
                </div>
            </div>
        </div>
        <div
            v-if="activeTemplate"
            class="flex-1 grid grid-cols-6 grid-rows-3 flex-col"
        >
            <div
                v-for="(item, index) in activeTemplate.items"
                :key="index"
                class="flex justify-between flex-col w-full h-full border-gray-300 origin-center transform transition-all duration-200 overflow-hidden"
                :class="{
                    'scale-110 shadow-2xl z-20  rounded-md': item.running,
                    'border-r border-b': !item.running,
                }"
            >
                <div class="relative flex-1 p-6 bg-white">
                    <div
                        class="w-full h-full bg-center bg-contain bg-no-repeat"
                        :style="`background-image: url( ${require(`~/logos/${
                            item.logo || config.themeLogo
                        }`)} )`"
                    ></div>
                </div>
                <div
                    class="bg-gray-200 p-1 flex items-center justify-center font-bold text-5xl"
                    :class="{
                        'bg-red-600': item.seconds < 0,
                        'bg-green-600': item.running && item.seconds >= 0,
                    }"
                >
                    {{ formatSeconds(item.seconds) }}
                </div>
            </div>
        </div>
        <div
            v-else-if="!connected"
            class="flex-1 flex items-center justify-center font-medium text-5xl"
        >
            Geen verbinding.
        </div>
        <div
            v-else
            class="flex-1 flex items-center justify-center font-medium text-5xl"
        >
            Welkom!
        </div>
    </main>
    <main
        v-else
        class="w-full h-screen flex items-center justify-center text-center text-5xl font-semibold"
    >
        Configuratie is niet gevonden
    </main>
</template>

<script>
import DayJS from 'dayjs'
import { io as IO } from 'socket.io-client'

export default {
    data ()
    {
        return {
            configCopy: null,
            connected: false,
            currentTime: new Date()
        }
    },

    computed: {
        config ()
        {
            const { name: configName } = this.$store.getters['configs/configs'].find(
                ({ name }) => name === this.$route.params.config
            )
            return require( `~/configs/${configName}.json` )
        },
        currentTimeFormatted ()
        {
            return DayJS( this.currentTime ).format( 'HH:mm:ss' )
        },

        activeTemplate ()
        {
            return this.configCopy?.templates?.find( ({ active }) => active )
        }
    },
    beforeMount ()
    {
        this.io = IO( 'http://localhost:3000' )
        this.io.on( 'new-config', ( newConfig ) =>
        {
            this.configCopy = newConfig
        })
        this.io.on( 'connect', () =>
        {
            this.connected = true
        })
        this.io.on( 'disconnected', () =>
        {
            this.connected = false
        })

        setInterval( this.updateClock, 1000 )
    },
    destroyed ()
    {
        this.io.close()
        clearInterval( this.updateClock )
    },
    methods: {
        updateClock ()
        {
            this.currentTime = new Date()
        },

        formatSeconds ( totalSeconds )
        {
            const isMinus = totalSeconds < 0
            totalSeconds = Math.abs( totalSeconds )
            const hours = Math.floor( totalSeconds / 3600 )
            totalSeconds %= 3600
            const minutes = Math.floor( totalSeconds / 60 )
            const seconds = totalSeconds % 60
            return `${isMinus ? '-' : ''}${hours
                .toString()
                .padStart( 2, '0' )}:${minutes
                .toString()
                .padStart( 2, '0' )}:${seconds.toString().padStart( 2, '0' )}`
        }
    }
}
</script>
