<template>
    <div class="relative flex items-center justify-center bg-gray-200 h-screen w-full pt-50">
        <div v-if="!selectedConfig" class="relative max-w-sm w-full rounded-sm bg-white shadow-xl">
            <div class="font-medium p-2 px-4 border-b border-gray-200">
                Select config
            </div>
            <div class="p-4 overflow-y-auto" style="max-height: 80vh;">
                <div
                    v-for="({ dir, name }, index ) in configs"
                    :key="index"
                    class="p-2 rounded-sm bg-gray-100 hover:bg-gray-200 border shadow-sm border-gray-200 transition-all duration-100 cursor-pointer"
                    :class="{ 'mb-2': index !== configs.length - 1 }"
                    @click="selectedConfig = name"
                >
                    <div class="font-medium">
                        {{ name.toUpperCase() }}
                    </div>
                    <div class="text-gray-500 text-xs">
                        {{ dir }}
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="relative max-w-sm w-full rounded-sm bg-white shadow-xl ">
            <div class="font-medium p-2 px-4 border-b border-gray-200">
                Select display
            </div>
            <div class="p-4 overflow-y-auto" style="max-height: 80vh;">
                <div
                    class="font-medium p-2 mb-2 rounded-sm hover:bg-gray-100 border shadow-sm border-gray-200 transition-all duration-100 cursor-pointer"
                    @click="$router.push( `/${selectedConfig}/controls` )"
                >
                    Open controls
                </div>
                <div
                    class="font-medium p-2 mb-2 rounded-sm hover:bg-gray-100 border shadow-sm border-gray-200 transition-all duration-100 cursor-pointer"
                    @click="$router.push( `/${selectedConfig}/view` )"
                >
                    Open view
                </div>
                <div class="w-full mb-2 border-b border-gray-200"></div>
                <div
                    class="font-medium p-1 px-2 rounded-sm hover:bg-gray-100 border shadow-sm border-gray-200 transition-all duration-100 cursor-pointer"
                    @click="selectedConfig = null"
                >
                    Terug
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data ()
    {
        return {
            selectedConfig: null
        }
    },
    computed: {
        configs ()
        {
            return this.$store.getters['configs/configs']
        }
    }
}
</script>
